a.navbar-brand small {
	color: #4F60DF;
}

.btn-warning {

	background-image: -webkit-linear-gradient(top, #12C227 0%, #12C227 100%);
	background-image: linear-gradient(to bottom, #00CE18 0%, #089E19 100%);
	border-color: #089E16;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
	background-image: -webkit-linear-gradient(top, #35B644 0%, #10721B 100%);
	background-image: linear-gradient(to bottom, #35B644 0%, #10721B 100%);
	border-color: #089E16;
}

.btn-primary {
	background-image: -webkit-linear-gradient(top, #007fff 0%, #0066cc 100%);
	background-image: linear-gradient(to bottom, #007fff 0%, #0066cc 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff007fff', endColorstr='#ff0066cc', GradientType=0);
	border-color: #0061c2;
}

.directory i {
	color: #10B82B;
}

.topbar {
border: 3px solid #4F60DF;
}

/* img width */

.adjustable-width {
width: 100%;
}

.adjustable-width-25 {
width: 25%;
}

.adjustable-width-50 {
width: 50%;
}

.adjustable-width-75 {
width: 75%;
}




/* Ribbon Color Change */

.ribbon-red {
  
  background-image: -webkit-linear-gradient(top, #4F60DF 0%, #4F60DF 100%);
  background-image: linear-gradient(to bottom, #4F60DF 0%, #4F60DF 100%);
  background-repeat: repeat-x;
  
}

/* Homepage Divs */

.jumbotron {
  background-color: #BDC7FF;
}

.sidekick {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #FFF;
}
.sidekick h1,
.sidekick .h1 {
  color: inherit;
}
.sidekick p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 200;
}
.container .sidekick {
  border-radius: 0px;
}
.sidekick .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .sidekick {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 58.5px;
  }
}
